body{
    height: 100vh;
    background: #ffffff;
}

.nav-item a i{
   padding-right: 6px;
}

.nav-item{
margin: 0 5px;
}

body .navbar{
  background-color: #ebd7d7 !important;
}

.dashboard-title{
  margin-top: 20px;
}

/* Dark Mode chung */
body.dark-mode {
  background-color: #2d2b2b;
  color: #c6acac;
}

/* Navbar đổi màu nền */
body.dark-mode .navbar {
  background-color: #1e1e1e !important;
}

/* Chữ trên navbar thành trắng */
body.dark-mode .navbar .nav-link,
body.dark-mode .navbar .navbar-brand,
body.dark-mode .navbar .btn,
body.dark-mode .navbar .form-control::placeholder {
  color: #ffffff !important;
}

/* Input tìm kiếm trong navbar */
body.dark-mode .navbar .form-control {
  background-color: #2a2a2a;
  color: #ffffff;
  border: 1px solid #444;
}

/* Nút outline trong dark mode */
body.dark-mode .navbar .btn-outline-success {
  color: #80e27e !important;
  border-color: #80e27e !important;
}
body.dark-mode .navbar .btn-outline-danger {
  color: #ff8a80 !important;
  border-color: #ff8a80 !important;
}



/* card của phần trang chủ */
.card-title {
  white-space: nowrap;     /* Không cho text xuống dòng */

}


.card .card-body {
  text-align: center; /* Căn giữa chữ */
  justify-content: center;
  align-items: center;
  height: 60px;
}


/* Card trong phần quản lý phòng */
#room-container .card {
  width: 250px;        /* chiều rộng */
  height: 280px;       /* chiều cao */
  border-radius: 12px; /* bo góc */
  margin: 10px auto;   /* khoảng cách giữa các card */
  box-shadow: 0 7px 9px rgba(0, 0, 0, 0.2); /* đổ bóng */
  text-align: center;  /* căn giữa chữ */
  margin-bottom: 20px;
}

.list-card{
  margin-top: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 8px;  /* khoảng cách giữa icon và chữ */
  white-space: nowrap; /* không cho chữ xuống dòng */
   padding: 8px 12px;
  border-radius: 6px; /* bo góc cho đẹp */
  transition: all 0.2s ease; /* mượt hơn khi hover */
}


.nav-link:hover {
  background-color: #495057; /* nền xám đậm hơn */
  color: #00ffcc !important; /* đổi màu chữ */
  text-decoration: none; /* bỏ gạch chân */
}

.card{
    margin:30px auto;
    background-color: #7b94f9 !important;
    height: 290px; 
    width: 250px;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    box-shadow: ;
}



/* Cố định sidebar ở bên trái màn hình */
.sidebar-fixed {
    position: sticky; /* "Dính" vào vị trí khi cuộn */
    top: 0;           /* Dính vào đỉnh trang */
    height: 100vh;    /* Cao bằng 100% chiều cao màn hình */
}

/* Cho phép phần nội dung chính có thể cuộn độc lập */
.main-content-scrollable {
    height: 100vh;        /* Cao bằng 100% chiều cao màn hình */
    overflow-y: auto;     /* Thêm thanh cuộn dọc khi nội dung dài hơn */
}

.container{
  width:1250px;
  border-radius: 20px;
}